/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2015, 7:39:40 PM
    Author     : LOC
*/
*{ margin: 0px; padding: 0px;//nên sử dung box-box-sizing để các div không bị padding làm vỡ}
body{background-image: url(backrou.jpg);}
li{ list-style: none;}
a{text-decoration: none;color: #FFF;font-size: 16px;}
#logo{width: 1140px; height: 74.5px; margin: 0px auto;position: relative;}
#divserch{
    float: right;
    
}
/* sử dung z-index
    nếu z-index nào có giá trị lớn hơn thì sẽ nổi lên phần z-index: giá trị nhỏ hơn
    
    position:fixed thì sẽ chạy theo thanh kéo trình duyệt

    position:relative điều chỉnh vị trí mà không làm ảnh hưởng đến đối tượng khác
    
    position:absolute điều chỉnh vị trí mà không làm ảnh hưởng đến đối tượng khác,nếu mà cha hay ông của nó có relative
    thì nó điều chỉnh vị trí theo thẻ relative

    960.gs getBootstrap 
*/
.textsearch{
    float: left;
    height: 30px;
    width: 300px;
    border: 0px none rgb(0, 0, 0);
    padding: 5px ;
}
.button{
    float: left;
    width: 40px;
    height: 40px;
    color: blue;
    background:#56d232 url(icon_search.png);
}
.clear{ clear: both;}
.wrapper{ width: 1140px; height: 4000px; margin: 0px auto; }
.main_menu{background-image: url(menu-nen.jpg); margin-top: 50px;}
.main_menu>ul>li{ float: left;padding: 11px 27px; position: relative;font-weight: bold}
.main_menu>ul>li:last-child{ border-right: none;}
.main_menu>ul>li>ul{ display: none; position: absolute; background-image: url(menu-sub.jpg);top: 41px;width: 198px; left: 0px;}
.main_menu ul li:hover ul{ display: block;}
.main_menu ul li:hover{ background-image: url(menu-sub.jpg); transition: all 0.25s;}
.main_menu>ul>li>ul>li{ padding: 15px 10px;}
.main_menu>ul>li>ul>li{}
.main_menu ul li ul li:hover{background-image: url(menu-nen.jpg);}

.menudoc{background-image: url(menu-nen.jpg);width: 198px;margin-top: 100px;position: fixed}
.menudoc ul li{padding:11px 27px;font-weight: bold;position: relative;}
.menudoc ul li:hover{background-image: url(menu-sub.jpg);};
.menudoc ul li a{display: block}
.menudoc ul li ul {position: absolute;left:198px;top: 0px;display: none}
.menudoc ul li:hover ul {display: block}
.menudoc ul li ul{width: 198px;background-image: url(menu-sub.jpg)}
.menudoc ul li ul li:hover{background-image: url(menu-nen.jpg);}
img {
  transition: ease 3s;

}
#imglogo:hover {
  transform: rotate(10turn);
}